@model IEnumerable<Demo.App.Models.Receiver>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    @Html.RenderPartialAsync("_ReceiverView", Model)

    @*@foreach(var item in Model){
        {
            <div>
                @item.NameSurname
                </div>
        }
    }*@

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
